.btn-primary {
	background-color: #153e90 !important;
	border-color: #153e90 !important;
	transition: .3s ease-out;
}
.btn-primary:hover{
	background-color: #0e49b5 !important;
	transform: scale(1.12, 1.12);
}
.btn-primary:active{
	background-color: #0e49b5 !important;
}

.btn-secondary {
	background-color: #FF0800 !important;
	border-color: #FF0800 !important;
	transition: .3s ease-out;
}
.btn-secondary:hover{
	background-color: #FF2800 !important;
	transform: scale(1.12, 1.12);
}
.btn-secondary:active{
	background-color: #FF2800 !important;
}